.novedades {
    position: relative;
    height: 341px;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .diagonal-nov {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
        transform: skewY(-6deg);
        transform-origin: bottom right;
    }

    .contenido {
        h2 {
            position: relative;
            margin-bottom: 36px;
            @include titulo;
            color: $white;
            text-align: center;
        }

        button {
            position: relative;
            @include boton;
            width: 100%;
        }

        button:hover {
            @include gradient;
        }
    }
}

@media screen and (min-width: 750px) {
    .novedades {
        .contenido {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 48px;
            }

            button {
                @include boton-desktop;
                width: 345px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .novedades {
        height: 518px;
    }
}
