.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 31px;

        p {
            @include texto;
            margin-bottom: 16px;
        }

        .footer-iconos {

            i {
width: 16px;
height: 28px;
            } 
        }
    }