/* mobile first */

nav {
    margin-left: 16px;
    margin-right: 16px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 24px;
        height: 24px;
    }

    .menu {
        ul {
            position: absolute;
            top: 44px;
            right: 0px;
            width: 0px;
            height: 224px;
            padding-left: 0px;
            padding-top: 16px;
            overflow: hidden;
            background-color: $azul;
            list-style-type: none;

            transition: width 0.3s ease-out;

            li {
                position: relative;
                margin-left: 16px;

                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    color: white;
                    margin-bottom: 24px;
                    @include type-menu;
                }

                a:hover {
                    color: $turquesa;
                    text-decoration: line-through;
                }

                a:active {
                    color: #060A24 56%;
                    text-decoration: line-through;
                }

                
            }
        }

        input {
            display: none;
            z-index: 2;
            position: absolute;
            top: 10px;
            right: 16px;
            transform: scale(1.5);
        }

        span {
            display: block;
            width: 18px;
            height: 2px;

            position: relative;
            background-color: $negro;
            z-index: 1;

            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .span1 {
            transform-origin: 10% 0%;
            margin-bottom: 3px;
        }

        .span2 {
            margin-bottom: 3px;
        }

        .span3 {
            transform-origin: 10% 100%;
        }

        /* lo que pasa cuando apreto el checkbox*/

        input:checked ~ ul {
            width: 100%;
            transition: width 0.3s ease-out;
        }

        input:checked ~ label .span1 {
            opacity: 1;
            transform: rotate(45deg);
            background-color: $negro;
        }

        input:checked ~ label .span2 {
            opacity: 0;
        }

        input:checked ~ label .span3 {
            opacity: 1;
            transform: rotate(-45deg);
            background-color: $negro;
        }
    }
}

@media screen and (min-width: 750px) {
    nav {
        height: 80px;
        //margin-left: 100px;
        //margin-right: 100px;

        .logo {
            width: 36px;
            height: 36px;
        }

        .menu {
            ul {
                position: relative;
                width: 100%;
                top: 0;
                right: 0;
                overflow: hidden;
                background-color: unset;
                height: unset;

                li {
                    padding-top: 0;
                    display: inline-block;
                    margin-left: 48px;

                    a {
                        color: $oscuro;
                    }

                }
            }

            input {
                display: none;
            }

            span {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    nav {
       
        margin-left: 100px;
        margin-right: 100px;
    }
}