.venimos {
    position: relative;
    z-index: 3;
    margin-top: -95.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    
    .celular {
        width: 105%;
    }

    .venimos-textos {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 27px;
        margin-bottom: 42px;

        h2 {
            @include titulo;
            color: $oscuro;
            margin-bottom: 8px;
        }

        p {
            @include texto;
            padding-bottom: 12px;
        }

    }
    
}